/* General Settings */
.hidden {
  display: none;
}

body {
  display: flex;
  font-family: 'Work Sans', sans-serif;
}

h1 {
  font-size: 2.5em;
  color: white;
  font-family: 'Source Code Pro', sans-serif;
}

h2 {
  font-size: 1.5em;
  text-align: center;
  padding: 15px;
  font-family: 'Source Code Pro', sans-serif;
  color: white;
}

h3 {
  text-align: center;
  color: white;
}
p {
  padding: 5px;
}

a {
  color: #2098D1;
}

.btn-hvr {
  width: 300px;
  border: 1px solid white;
  vertical-align: middle;
  -webkit-transform: perspective(1px) translateZ(0);
  transform: perspective(1px) translateZ(0);
  box-shadow: 0 0 10px black;
  position: relative;
  overflow: hidden;
  background: rgb(32, 27, 63);
  margin: 20px auto;
  border-radius: 5px;
  padding: 10px;
  color: white;
  -webkit-transition-property: color;
  transition-property: color;
  -webkit-transition-duration: 0.3s;
  transition-duration: 0.3s;
  cursor: pointer;
}
.btn-hvr:before {
  content: "";
  position: absolute;
  z-index: -1;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  background: #2098D1;
  border-radius: 100%;
  -webkit-transform: scale(0);
  transform: scale(0);
  -webkit-transition-property: transform;
  transition-property: transform;
  -webkit-transition-duration: 0.3s;
  transition-duration: 0.3s;
  -webkit-transition-timing-function: ease-out;
  transition-timing-function: ease-out;
}
.btn-hvr:hover, .btn-hvr:focus, .btn-hvr:active {
  color: white;
}
.btn-hvr:hover:before, .btn-hvr:focus:before, .btn-hvr:active:before {
  -webkit-transform: scale(2);
  transform: scale(2);
}

form {
  display: flex;
  flex-direction: column;
  margin: 40px;
  background: #2098D1;
  padding: 20px;
  box-shadow: 0 0 5px darkgrey;
  border-radius: 5px;
}

form lable {
  color: white;
  padding-top: 10px;
  font-weight: 600;
}

form textarea {
  font-family: 'Work Sans', sans-serif;
}

input {
  padding: 5px;
}

input[type='submit'] {
  
}
/* Navigation Sidebar Styling */
nav {
  background: linear-gradient(
    rgba(32, 27, 63, .7), 
    rgba(32, 27, 63, .7)
  ),
  url('https://image.ibb.co/dLQkud/navbg.jpg');
  background-size: cover;
  background-repeat: no-repeat;
  width: 290px;
  display: flex;
  flex-direction: column;
  justify-content: flex-start;
  align-items: center;
  height: 100%;
  min-height: 100vh;
  height: 100%;
  position: fixed;
  padding: 10px;
}

.avatar {
  width: 250px;
  border-radius: 50%;
  margin: 20px;
}



/* Main Sections stlying */
main {
  border: 2px solid blue;
  padding-left: 300px;
}


.portfolio-item{
  display: flex;
  flex-wrap: wrap;
  justify-content: space-evenly;
}

.item-img{
box-shadow: 0 0 10px black;
}

.item-content {
  border-left : 2px solid rgb(32, 27, 63);
  margin-left: 20px;
}

.item-details{
  margin: 40px;
}

.item-details ul {
  margin-top: 20px;
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
}

.item-details li {
  border: 1px solid rgb(28, 145, 199);
  padding: 10px;
  border-radius: 5px;
  margin: 2px 5px;
}
.item-title {
  color: black;
  text-align: left;
  margin-top: 20px;
  margin-left: 20px;
  font-size: 1.5em;
}

.item-desc {
  width: 300px;
  margin-left: 20px;
}

.item-link {
text-align: center;
margin: 20px;
padding-bottom: 20px;
}

.item-subtitle {
  margin-left: 20px;
  margin-bottom: 20px;
}

.date::before{
  content: '■';
  margin-left: -10px;
  margin-right: 20px;
}

.date {
  font-style: italic;
  padding-top: 20px;
}

.tech-stack {
  display: flex;
  flex-wrap: wrap;
  max-width: 300px;
}

#about {
display: flex;
flex-direction: column;
justify-content: center;
}

header {
  background: rgb(32, 27, 63);
  display: flex;
  justify-content: center;
  flex-direction: column;
  padding: 20px 0;
}

header h2 {
  color: white;
}

#about div {
  padding: 60px;
}

.heavy {
  font-weight: 600;
  color: #2098D1;
  text-align: center;
}

.light {
  font-size: 12px;
  text-align: center;
  padding: 20px 0;
}

.horizontal-list {
  display: flex;
  justify-content: center;
}

.horizontal-list li {
  margin: 10px 20px;
}

.icon-list {
  margin-bottom: 20px;
}
/* Responisve design */
@media (max-width: 950px) {
  nav {
    position: relative;
    min-height: 100%;
  }
  .avatar {
    display: none;
  }
}