/* General Settings */
.hidden {
  display: none;
}

body {
  display: flex;
  font-family: 'Work Sans', sans-serif;
}

h1 {
  font-size: 2.5em;
  color: white;
  font-family: 'Source Code Pro', sans-serif;
}

h2 {
  font-size: 1.5em;
  text-align: center;
  padding: 15px;
  font-family: 'Source Code Pro', sans-serif;
  color: white;
}

h3 {
  text-align: center;
  color: white;
}
p {
  padding: 5px;
}

a {
  color: #2098D1;
}

form {
  display: flex;
  flex-direction: column;
  margin: 40px;
  background: #2098D1;
  padding: 20px;
  box-shadow: 0 0 5px darkgrey;
  border-radius: 5px;
}

form lable {
  color: white;
  padding-top: 10px;
  font-weight: 600;
}

form textarea {
  font-family: 'Work Sans', sans-serif;
}

input {
  padding: 5px;
}

button {
  width: 400px;
  margin: 20px auto;
  border: 1px solid white;
  border-radius: 5px;
  background: #201B3F;
  color: white;
  padding: 10px;
  transition: background-color .5s, border-radius .5s;
  font-weight: 600;
}

button a {
  color: white;
  text-decoration: none;
}

button:hover {
  cursor: pointer;
  position: relative;
  background: #2098D1;
  border-radius: 0px;
  
}
/* Navigation Sidebar Styling */
nav {
  background: linear-gradient(
    rgba(32, 27, 63, .7), 
    rgba(32, 27, 63, .7)
  ),
  url('https://image.ibb.co/dLQkud/navbg.jpg');
  background-size: cover;
  background-repeat: no-repeat;
  width: 290px;
  display: flex;
  flex-direction: column;
  justify-content: flex-start;
  align-items: center;
  height: 100%;
  min-height: 100vh;
  height: 100%;
  position: fixed;
  padding: 10px;
}

.avatar {
  width: 250px;
  border-radius: 50%;
  margin: 20px;
}

nav a {
  color: white;
}

/* Main Sections stlying */
main {
  padding-left: 300px;
}


.portfolio-item{
  display: flex;
  flex-wrap: wrap;
  justify-content: space-evenly;
}

.item-img{
box-shadow: 0 0 10px black;
width: 400px;
max-height: 500px;
object-fit: cover;
}

.item-content {
  border-left : 2px solid rgb(32, 27, 63);
  margin-left: 20px;
}

.item-details{
  margin: 40px;
}

.item-details ul {
  margin-top: 20px;
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
}

.item-details li {
  font-style: italic;
  padding: 10px;
}
.item-title {
  color: black;
  text-align: left;
  margin-top: 20px;
  margin-left: 20px;
  font-size: 1.5em;
}

.item-desc {
  width: 300px;
  margin-left: 20px;
}

.item-link {
text-align: center;
margin: 20px;
padding-bottom: 20px;
}

.item-subtitle {
  margin-left: 20px;
  margin-bottom: 20px;
}

.date::before{
  content: '■';
  margin-left: -10px;
  margin-right: 20px;
}

.date {
  font-style: italic;
  padding-top: 20px;
}

.tech-stack {
  display: flex;
  flex-wrap: wrap;
  max-width: 300px;
}

#about {
display: flex;
flex-direction: column;
justify-content: center;
}

.skills {
  margin-top: 40px;
}

.skills ul {
  display: flex;
  justify-content: center;
  flex-wrap: wrap;
}

.skills li {
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  border: 1px solid #2098D1;
  border-radius: 5px;
  padding: 10px;
  margin: 10px;
  box-shadow: #201B3F 0px 0px 1px;
}

.skills img {
  max-width: 50px;
  max-height: 50px;
  margin-bottom: 10px;
}

header {
  background: rgb(32, 27, 63);
  display: flex;
  justify-content: center;
  flex-direction: column;
  padding: 20px 0;
}

header h2 {
  color: white;
}

.about-content {
  padding: 60px;
}

.heavy {
  font-weight: 600;
  color: #2098D1;
  text-align: center;
}

.light {
  font-size: 12px;
  text-align: center;
  padding: 20px 0;
}

.horizontal-list {
  display: flex;
  justify-content: center;
}

.horizontal-list li {
  margin: 10px 20px;
}

.icon-list {
  margin-bottom: 20px;
}
/* Responisve design */
@media (max-width: 950px) {
  body {
    display: block;
  }
  nav {
    position: static;
    min-height: 100%;
    width: 100%;
  }
  .avatar {
    display: none;
  }
  .link-list {
    display: flex;
    justify-content: center;
  }
  main {
    padding-left: 0;
  }
}