/* General Settings */
.hidden {
  display: none;
}

body {
  display: flex;
  font-family: 'Work Sans', sans-serif;
}

h1 {
  font-size: 2.5em;
  color: white;
  font-family: 'Source Code Pro', sans-serif;
}

h2 {
  font-size: 1.5em;
  text-align: center;
  padding: 15px;
  font-family: 'Source Code Pro', sans-serif;
}

h3 {
  text-align: center;
  color: white;
}
p {
  padding: 5px;
}

a {
  color: #2098D1;
}
.btn-hvr {
  width: 300px;
  border: 1px solid white;
  vertical-align: middle;
  -webkit-transform: perspective(1px) translateZ(0);
  transform: perspective(1px) translateZ(0);
  box-shadow: 0 0 10px black;
  position: relative;
  overflow: hidden;
  background: rgb(32, 27, 63);
  margin: 20px auto;
  border-radius: 5px;
  padding: 10px;
  color: white;
  -webkit-transition-property: color;
  transition-property: color;
  -webkit-transition-duration: 0.3s;
  transition-duration: 0.3s;
  cursor: pointer;
}
.btn-hvr:before {
  content: "";
  position: absolute;
  z-index: -1;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  background: #2098D1;
  border-radius: 100%;
  -webkit-transform: scale(0);
  transform: scale(0);
  -webkit-transition-property: transform;
  transition-property: transform;
  -webkit-transition-duration: 0.3s;
  transition-duration: 0.3s;
  -webkit-transition-timing-function: ease-out;
  transition-timing-function: ease-out;
}
.btn-hvr:hover, .btn-hvr:focus, .btn-hvr:active {
  color: white;
}
.btn-hvr:hover:before, .btn-hvr:focus:before, .btn-hvr:active:before {
  -webkit-transform: scale(2);
  transform: scale(2);
}

form {
  display: flex;
  flex-direction: column;
  margin: 40px;
  background: #2098D1;
  padding: 20px;
  box-shadow: 0 0 5px darkgrey;
  border-radius: 5px;
}

form lable {
  color: white;
  padding-top: 10px;
  font-weight: 600;
}

form textarea {
  font-family: 'Work Sans', sans-serif;
}

input {
  padding: 5px;
}

input[type='submit'] {
  
}
/* Navigation Sidebar Styling */
nav {
  background: linear-gradient(
    rgba(24, 22, 34, 0.7), 
    rgba(16, 5, 27, 0.7)
  ),
  url('/img/navbg.jpg');
  background-size: cover;
  background-repeat: no-repeat;
  width: 300px;
  display: flex;
  flex-direction: column;
  justify-content: flex-start;
  align-items: center;
  height: 100%;
  border: 2px solid red;
  min-height: 100vh;
  height: 100%;
  position: fixed;
}

.avatar {
  width: 250px;
  border-radius: 50%;
  margin: 20px;
}

/* Main Sections stlying */
main {
  border: 2px solid blue;
  padding-left: 300px;
}

#portfolio {
  border: 2px solid orangered;
}

#about {
display: flex;
flex-direction: column;
justify-content: center;
}

header {
  background: rgb(32, 27, 63);
  display: flex;
  justify-content: center;
  flex-direction: column;
  padding: 20px 0;
}

header h2 {
  color: white;
}

#about div {
  padding: 60px;
}

.heavy {
  font-weight: 600;
  color: #2098D1;
  text-align: center;
}

.light {
  font-size: 12px;
  text-align: center;
  padding: 20px 0;
}

.horizontal-list {
  display: flex;
  justify-content: center;
}

.horizontal-list li {
  margin: 10px 20px;
}


/* Responisve design */
@media (max-width: 950px) {
  body {
    display: block;
  }
  nav {
    height: 100%;

  }
  .avatar {
    display: none;
  }
}